<nav>
  <ul>
  <%= link_to 'Yellow Podcast', root_path, class:'logo'%>
    <li><a href="#"></a>SoundCloud</li>
    <li><a href="#"></a>Itunes</li>
  </ul>
  <div class="handle">
        <div class="menu-anchor"></div>
  </div>

</nav>
